In [7]:
### Preprocessing For classification
import pandas as pd
mdf = pd.read_csv('../Common/rly_final_movies.tsv', sep='\t')
emdf = pd.read_csv('../Common/filtered_final_movies_5.tsv', sep='\t')
bmdf = pd.read_csv('../Common/moviesWithBinaryValues.tsv', sep='\t')
pdf = pd.read_csv('../topic_discovery/lda_topics.tsv', sep='\t')


emdf = emdf.drop(columns = ["primaryTitle","startYear","runtimeMinutes","overview","original_language","release_date","keywords","synopsis","domestic","international","worldwide","distributor","domestic_opening","mpaa","genres","budget","actors","writers","directors"])

mdf = mdf.merge(bmdf,how='left',on='tconst')
mdf = mdf.merge(pdf,how='left',on='tconst')
mdf = mdf.merge(emdf,how='left',on='tconst')
##Transmedia
mdf['Transmedia'] = mdf['Transmedia'].map({'YES': 1, 'NO': 0, 'UNKNOWN': 0})

##Adaptation
mdf['Adaptation'] = mdf['Adaptation'].map({'YES': 1, 'NO': 0, 'UNKNOWN': 0})

## Keep Sequels
mdf['Sequel'] = mdf['Sequel'].map({'YES': 1, 'NO': 0, 'UNKNOWN': 0})



# ##Remove sequels
# mdf = mdf.merge(sequel[['tconst','Response']],how='left',on='tconst')
# mdf = mdf[~(mdf["Response"] == "YES")]
# mdf = mdf.drop(columns = ['Response'])


## Drop unused features
mdf = mdf.drop(
    ["primaryTitle" ,"overview", "tconst", "release_date","keywords","synopsis","genres","actors", "genres_vector", "directors", "writers", "distributor","profit"], axis=1
)

## Only keep movies with mpaa ratings
# mdf = mdf[mdf["mpaa"].isin(["G","PG","PG-13", "R", "NC-17"])]
mdf["mpaa"] = mdf["mpaa"].replace({"Not Rated": "Unrated","TV-G":"G", "TV-PG":"PG", "TV-14":"PG-13", "TV-MA":"R", "TV-Y7":'G'})
mdf["mpaa"] = mdf["mpaa"].fillna("Unrated")
mdf = pd.get_dummies(mdf, columns=['mpaa'], prefix='mpaa')

# # Define the ordinal mapping
# mpaa_mapping = {'G': 0, 'PG': 1, 'PG-13': 2, 'R': 3, 'NC-17': 4}
# mdf['mpaa'] = mdf['mpaa'].map(mpaa_mapping)

mdf["day_of_week"] = mdf["day_of_week"].map({"Monday": 1, "Tuesday": 2, "Wednesday": 3, "Thursday": 4, "Friday": 5, "Saturday": 6, "Sunday": 7})
mdf.to_csv("./preprocessed.tsv", sep="\t", index=False)

In [6]:
mdf['competition']

0       2.964529e+09
1       3.202517e+09
2       3.145846e+09
3       3.549899e+09
4       4.221301e+09
            ...
5472    2.728864e+10
5473    2.409093e+10
5474    2.781111e+10
5475    2.885915e+10
5476    2.515835e+10
Name: competition, Length: 5477, dtype: float64

In [17]:
mdf

,startYear,runtime,revenue,budget,ROI,weighted_genre_profitability,isMusical,isCrime,isFantasy,isWar,...,is_holiday_season,is_summer,day_of_week,avg_annual_profit,Transmedia,mpaa_G,mpaa_NC-17,mpaa_PG,mpaa_PG-13,mpaa_R
0,2000,95,35547761,6000000,492.462683,1.919887e+09,False,False,False,False,...,0,0,3,0.000000e+00,0,False,False,True,False,False
2,2000,90,14828081,90000000,-83.524354,1.124916e+09,False,False,False,False,...,0,0,5,0.000000e+00,0,False,False,False,True,False
3,2000,91,24419914,11000000,121.999218,2.083851e+09,False,False,False,False,...,0,0,5,0.000000e+00,0,False,False,False,True,False
4,2000,93,28741330,10000000,187.413300,1.500814e+09,False,True,False,False,...,0,0,1,0.000000e+00,0,False,False,False,False,True
5,2000,103,1032075,225000,358.700000,1.741076e+09,False,False,False,False,...,0,0,1,0.000000e+00,0,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5469,2024,122,9143229,16000000,-42.854819,1.184439e+09,False,False,False,False,...,0,0,3,8.612235e+07,0,False,False,False,False,True
5472,2024,104,12768228,50000000,-74.463544,8.857810e+08,False,False,False,False,...,0,0,3,8.612235e+07,0,False,False,False,True,False
5473,2024,123,165888955,200000000,-17.055523,4.719677e+09,False,False,True,False,...,1,0,4,8.612235e+07,0,False,False,False,True,False
5474,2024,112,3602173,30000000,-87.992757,2.286511e+09,False,True,False,False,...,1,0,4,8.612235e+07,0,False,False,False,False,True
5476,2024,160,465260103,145000000,220.869037,2.084215e+09,True,False,True,False,...,0,0,3,8.612235e+07,1,False,False,True,False,False

In [22]:
ddf = pd.read_csv('../Common/date_features.tsv', sep='\t')
mdf = pd.read_csv('../Common/final_movies.tsv', sep='\t')

In [23]:
mdf = mdf[['tconst','is_holiday_season','is_summer','day_of_week','avg_annual_profit','max_genre_profitability']]

In [26]:
mdf.to_csv('../Common/date_features.tsv', sep='\t', index=False)